.product__counter__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(223, 28, 57);
  
  &:hover {
    cursor: pointer;
  }
}


